body{

  font-family:"Bookman Old Style", serif;
  background-color:#357286;
  overflow:hidden;
  border:20px #65BCD8 solid;
}

.container{
  width:90%;
  margin:auto;
  overflow:hidden;
  }

#pic{
  float:right;
  width:30%;
  min-height:300px;
  background: #F3B584;
  padding:10px;
  box-sizing:border-box;
}

#intro{
  float:left;
  width:70%;
  text-align:center;
  box-sizing:border-box;
  padding-top:100px;
  background: #F3B584;
}


@media(max-width:600px){
  #intro{
    width:100%;
    float:none;
  }
  
  #pic{
    width:100%;
    float:none;
  }
}

.clr{
  clear:both;
}
p{
  margin-left:200px;
  margin-right:200px;
  text-align:center;
  text-size:14px;
}

h1{
  letter-spacing:0.2em;
  color: black;
    text-transform:uppercase;
}


h3{
  text-align:center;
  letter-spacing:0.1em;
  font-style:bold;
  font-style:italic;
  text-transform:uppercase;
}

a:hover{
  color:red;
}

a{
  text-decoration: bold;
  color:purple;
}

a:visited{
  color:grey;
}
