body{

  font-family:"Bookman Old Style", serif;
  background-color:#357286;
  overflow:hidden;
  border:20px #65BCD8 solid;
}

.top{
  margin:auto;
  background-color:#FCBD09;
  box-sizing:border-box;
  border-bottom:1px;
}

#info{
  float:left;
  width:70%;
  text-align:center;
  padding:10px;
}

#pic{
  float:right;
  width:30%;
  padding:10px;
}

@media(max-width:800px){
  #info{
    width:100%;
    float:none;
  }
  
  #pic{
    width:100%;
    float:none;
  }
}
p{
  margin-left:200px;
  margin-right:200px;
  text-align:center;
}

h1{
  letter-spacing:0.2em;
  color: black;
    text-transform:uppercase;
}


h3{
  text-align:center;
  letter-spacing:0.1em;
  font-style:bold;
  font-style:italic;
  text-transform:uppercase;
}

a:hover{
  color:red;
}

a{
  text-decoration: bold;
  color:purple;
}

a:visited{
  color:grey;
}
