body{
background-color:#0C86AD;
  color: white;
  
  border-right:20px black solid;
}

p{
  margin-left:20px;
  margin-right:20px;
  text-align:center;
}

h1{
  letter-spacing:0.2em;
  color: black;
  

h3{
  text-align:center;
  letter-spacing:0.1em;
  font-style:bold;
  font-style:italic;
}

